.philips{
    background-color: #049DBF;
}
.Braun{
    background-color: #595959;
}
.Panasonic{
    background-color: #556A73;
}
#container{
    background-color: #74fa3e;
    font-size: 1.5em;
}
h1,h2,h3,h4,legend{
    color: #024059;
}
#ürün{
    background-color: #4cbeeb;
    color: #0D0D0D;
}
footer{
    background-color: #0D0D0D;
    color: #F2F2F2;
}